body{
    color: red;
}
*{
    padding: 0;margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
    
    
}
.right ul{
    list-style-type: none;
    
}
.right-content{
    display: inline-block;
}
.bg-img{
    background-image: url(./kokon.jpg);
    overflow: auto;
    height: 490px;
    min-width: 100%;
    
    background-repeat: no-repeat

}
